<h1 class = "mini_title">Registration Form</h1>

<%= form_for :teachers, url: teacher_registration_path do |f| %>

<div class="mini_title">
  <%=radio_button_tag(:register, "student", checked = true)%>Student
  <%=radio_button_tag(:register, "teacher")%>Teacher
</div>

  <div class="field">
    <%= f.label :first_name, class: "card"%><br />
    <%= f.text_field :first_name%>
  </div>
  <div class="field">
    <%= f.label :last_name, class: "card" %><br />
    <%= f.text_field :last_name%>
  </div>
  <div class="field">
    <%= f.label :email, class: "card" %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password, class: "card" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "card" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "back_button" %>
  </div>
<% end%>

