<%= form_for @course do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '50x5' %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day%>
  </div>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "back_button" %>
  </div>
<% end%>

