<h1 class="mini_title"><%= @course.name%></h1>

<div class="container">
    <div class="description">
        <p><span class="card">Description: <%= @course.description%></span></p>
        <p><span class="card">Day: Every <%= @course.day%> from <%=@course.time%>.</span></p>
        <p><span class="card">Date: <%= @course.date%>.</span></p>
        <p><span class="card">Instructor: <%=@teacher.first_name%> <%=@teacher.last_name%></span></p>

    <%if @reviews.any?%>
        <div class="container">
            <div class="description">
                 <h4 class="enrolled"><span class="card">Reviews</span></h4>
        <%@reviews.each do |r|%>
           <p class="card"> <span class="review_name"><%=Student.find(r.student_id).first_name%>:</span> "<%=r.message%>"</p>
        <%end%>
            </div>
        </div>  
    <%end%>
    </div>
</div>